.about-us {
  @extend .sections;
  width: 100%;
  height: 100%;
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1b1b1b;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 70px;
  display: inline-flex;
  &__tagline {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 59px;
    display: inline-flex;
    .tagline-title {
      .orange-text {
        color: #fa6e37;
        font-size: 44px;
        font-family: Raleway;
        font-weight: 500;
        letter-spacing: 0.88px;
        word-wrap: break-word;
      }
      .normal-text {
        color: white;
        font-size: 44px;
        font-family: Raleway;
        font-weight: 500;
        letter-spacing: 0.88px;
        word-wrap: break-word;
      }
    }
    &__tagline-subtext {
      width: 100%;
      height: 100%;
      color: #cccccc;
      font-size: 17px;
      font-family: Raleway;
      font-weight: 400;
      letter-spacing: 0.34px;
      word-wrap: break-word;
    }
  }
  &__blocks {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    .block {
      width: 100%;
      height: 100%;
      background: #232323;
      border-radius: 10px;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: inline-flex;
      &__text {
        width: 100%;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 52px;
        border-radius: 10px;
        border: 1px #3a3a3a solid;
        backdrop-filter: blur(4px);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        display: inline-flex;
      }
      &__title {
        color: white;
        font-size: 30px;
        font-family: Raleway;
        font-weight: 500;
        letter-spacing: 0.6px;
        word-wrap: break-word;
      }
      &__subtext {
        width: 100%;
        color: #cccccc;
        font-size: 17px;
        font-family: Raleway;
        font-weight: 400;
        letter-spacing: 0.34px;
        word-wrap: break-word;
      }
      &__img {
        width: 100%;
        height: 100%;
        position: relative;
        .first-block {
          background-image: url(../img/first-block.svg);
        }
        .second-block {
          background-image: url(../img/second-block.svg);
        }
        .third-block {
          background-image: url(../img/third-block.svg);
        }
      }
    }
  }
}
