.cases {
  .wrap {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #1b1b1b;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    display: flex;
  }
  &__header {
    justify-content: flex-start;
    align-items: center;
    gap: 472px;
    display: inline-flex;
  }
  &__title {
    font-size: 44px;
    font-weight: 500;
    letter-spacing: 0.88px;
  }
  &__nav {
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
    display: flex;
    .btn-nav {
      font-size: 52px;
    }
  }
  &__content {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    border-radius: 10px;
  }
  &__block {
    padding: 40px;
    background: #232323;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 220px;
    display: inline-flex;
    .block-text {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;
      display: inline-flex;
      &__title {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.6px;
      }
      &__list {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.6px;
      }
      &__list-item {
        color: #fa6e37;
        align-items: center;
        gap: 10px;
        .text {
          color: white;
          font-size: 17px;
          font-family: Raleway;
          font-weight: 400;
          letter-spacing: 0.34px;
        }
      }
    }
  }
  &__slide {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 937px;
    height: 507px;
    background-image: url(../img/cases-slide.png);
  }
}
