.client {
    .wrap {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 70px;
    }
    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 44px;
        font-weight: 500;
        letter-spacing: 0.88px;
        padding-left: 240px;
    }
    &__slider {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        margin: auto;
        gap: 63px;
    }
}