.header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #232323;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.38px;
  .wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .logo__img {
      width: 234px;
      height: 53px;
      background-image: url(../img/logo-img.svg);
    }
    .menu__list {
      list-style-type: none;
      display: flex;
      gap: 40px;
    }
  }
}
