.main-page {
  .wrap {
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 40px;
  }
  &__title {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    .title {
      padding-top: 2px;
      padding-bottom: 3px;
      font-size: 68px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.36px;
    }
  }
  &__description {
    max-width: 420px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 45px;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    .text {
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.34px;
    }
  }
  &__slider {
    padding-top: 30px;
    padding-bottom: 70px;
    .main-slider {
      width: 1440px;
      height: 442px;
      background-image: url(../img/main-slider.png);
    }
    .slider-button {
      position: absolute;
      right: 15%;
      height: 144px;
      width: 143px;
      background-image: url(../img/main-slider-btn.svg);
    }
  }
}
