.sections {
  width: 100%;
  height: 100%;
  padding-left: 240px;
  padding-right: 240px;
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1b1b1b;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  display: inline-flex;
}
@import './main-page';
@import './about-us';
@import './price';
@import './cases';
