.price {
  .wrap {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #1b1b1b;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    display: flex;
  }
  &__item {
    width: 710px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: #232323;
    border-radius: 10px;
    border: 1px #3a3a3a solid;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    .price-icon1 {
      width: 120px;
      height: 120px;
      bottom: 20px;
      right: 20px;
      position: absolute;
      background-image: url(../img/price-icon1.svg);
    }
    .price-icon2 {
      width: 132px;
      height: 129px;
  
      position: absolute;
      background-image: url(../img/price-icon2.svg);
    }
  }
  &__item-text {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    .price {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      display: inline-flex;
      gap: 40px; 
      display: inline-flex;
    }
    .old-price {
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 64px;
      text-decoration: line-through;
      text-decoration-color: #FA6E37;
    }
    .new-price {
      font-size: 44px;
      font-weight: 500;
      letter-spacing: 0.88px;
    }
    .detail-price {
      color: #cccccc;
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
    }
  }
}
